<header>
  <div class="container">
    @include("/admin/topicpath.html")
  </div>
  <div>
    <h1 class="acms-admin-admin-title js-dialog-title">GoogleAnalytics4 設定</h1>
  </div>
  <div class="acms-admin-col-md-6"></div>
</header>
<!-- BEGIN_MODULE Admin_Config -->

<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-info">
  <span
    class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before"
    aria-hidden="true"
  ></span>
  <button class="js-acms-alert-close acms-admin-alert-icon-after">×</button>
  <!--T-->設定を保存しました
  <!--/T-->
</p>
<!-- END_IF -->

<!-- BEGIN_MODULE Admin_Errors -->
<p class="acms-admin-alert acms-admin-alert-icon acms-admin-alert-danger">
  <span
    class="acms-admin-icon acms-admin-icon-news acms-admin-alert-icon-before"
    aria-hidden="true"
  ></span>
  <button class="js-acms-alert-close acms-admin-alert-icon-after">×</button>
  {error}
</p>
<!-- END_MODULE Admin_Errors -->

<form action="" method="post" class="acms-admin-form">
  <div class="js-acms_fix_marker acms_fix_bg">
    <div class="acms-admin-form-group acms_fix_bg_index">
      <input
        type="submit"
        name="ACMS_POST_Config"
        value="保存"
        class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save"
      />
    </div>
  </div>

  <table class="acms-admin-table-admin-edit">
    <tr>
      <th>Service Account Key（JSON）<i class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover" data-acms-tooltip="Google Cloud Platform で発行した JSON ファイルの絶対パスを指定します。"></i></th>
      <td>
        <input type="text" name="google-analytics4_google_application_credentials" value="{google-analytics4_google_application_credentials}" class="acms-admin-form-width-full" />
        <input type="hidden" name="config[]" value="google-analytics4_google_application_credentials" />
      </td>
    </tr>
  </table>
</form>
<!-- END_MODULE Admin_Config -->

<h2 class="acms-admin-admin-title2"><!--T-->モジュール<!--/T--></h2>
<div class="acms-admin-module-list">
  <div class="acms-admin-margin-bottom-large">
    <table class="acms-admin-admin-mini-table acms-admin-admin-config-table">
      <tbody>
        <tr>
          <td class="acms-admin-config-name"><i class="acms-admin-icon acms-admin-icon-graph"></i>
              <div class="acms-admin-config-module-name">
                <!--T-->Google Analytics4 ランキング<!--/T-->
                <span class="acms-admin-config-module-name-en">GoogleAnalytics4_Ranking</span>
              </div>
          </td>
          <td class="acms-admin-config-code"><a href="%{ADMIN_BASE_URL}extension/plugins/GoogleAnalytics4/template/acms-code/vars/GoogleAnalytics4_Ranking.html"
              class="js-popup_setting">
              <!--T-->変数表<!--/T-->
            </a>
            <a href="%{ADMIN_BASE_URL}extension/plugins/GoogleAnalytics4/template/acms-code/snippets/GoogleAnalytics4_Ranking.html" class="js-popup_setting">
              <!--T-->スニペット<!--/T-->
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


